
  <div class="home-container">
    <div class="home-content">
      <div class="home-image">
        <img src="/webbutveckling_bild.webp" alt="Kodexempel">
      </div>
      <div class="home-text">
        <h2>Webbutvecklingens magi: Skapa, lär och förändra</h2>
        <p>Tänk dig att dina idéer kan bli verklighet på en skärm. ...</p>
        <p>Varje projekt ger dig nya kunskaper ...</p>
        <p>Webbutveckling handlar inte bara om teknik ...</p>
        <p>Utforska möjligheterna, utmana dig själv och låt din kreativitet växa ...</p>
      </div>
  
    <!--IMPORTERA EN KOMPONENT SOM BESKRIVER MIUN UNIVERSITET-->
      <app-miun-section></app-miun-section>
      
    </div>
  </div>
    